.list-time {
    white-space: nowrap;
    padding-right: 11px;
}
.list-time.purple-border {
    border-right: 2px solid purple;
}
.list-time.orange-border {
    border-right: 2px solid orange;
}
.list-time .bold {
    color: black;
}
.margin-left {
    margin-left: 10px;
    font-size: 19px;
}
