<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      History
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">History</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngIf="history && history.length">
    <ion-item *ngFor="let item of history">
      <p item-left class="list-time purple-border">
        {{item.date}}
      </p>
      <ion-badge class="margin-left" color="primary">{{item.count}}</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>